<div *ngIf="mockToken">
  <p>Username: {{mockToken.userName}}</p>
  <p>First Name: {{mockToken.firstName}}</p>
  <p>Last Name: {{mockToken.lastName}}</p>
  <p>Role: {{mockToken.role}}</p>
  <p>Department: {{mockToken.department}}</p>
</div>

